replicaCount: 1

name: simple-sidecar

namespace: simple-sidecar

serviceName: simple-sidecar

tlsSecretName: simple-sidecar-tls

simpleSidecarConfig:
  ubuntu: 
    containers:
    - args:
      - -c
      - sleep infinity
      command:
      - /bin/sh
      image: ubuntu
      name: ubuntu

deployment:
  annotations: {}

mutatingWebhookConfiguration:
  annotations: {}

image:
  # -- Image repository
  # TODO Temporary personal repo
  repository: ghcr.io/centml/simple-sidecar
  # -- Image tag
  tag: v1.0.2
  # -- Image pull policy for the deployment
  imagePullPolicy: Always
